.hovering{
    transition: .2s ease-in-out;
    cursor: pointer;
}

.hovering:hover{
    transform: scale(1.07);
    background: rgba(0, 0, 255, 0.178) !important;
}

img{
    border-radius: 50px !important;
}

.database{
    overflow-y:auto;
    scrollbar-track-color: tomato;
}
.database::-webkit-scrollbar{
width: 0;
}
.displaymethod{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:1200px) {
    .displaymethod{
        display: block !important;
    }
    .displaymethod div{
        margin-top: 0.1vh;
    }
   
}

.description-container {
    max-height: 3em; /* Adjust to desired height */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    transition: .2s ease-in-out !important;
  }
.btnhover{
    transition: .2s ease-in-out !important;
}
  .btnhover:hover{
box-shadow: 0px 0px 10px 0px grey;
transform: scale(1.11);
  }