.hovering{
    transition: .2s ease-in-out;
    cursor: pointer;
}

.hovering:hover{
    transform: scale(1.07);
    background: rgba(0, 0, 255, 0.178) !important;
}

img{
    border-radius: 50px !important;
}

.database{
    overflow-y:auto;
    scrollbar-track-color: tomato;
}
.database::-webkit-scrollbar{
width: 0;
}
.displaymethod{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:1000px) {
    .displaymethod{
        display: block !important;
    }
    .displaymethod div{
        margin-top: 2vh;
    }
   
}